<!DOCTYPE html>
<html>
<head>
  <title>NewReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>
<div class="errors"></div>
<div class="loginInfo"></div>
</center>
<br><hr>

<script type="text/javascript">
	window.currentUser = {
		username: "<%= current_user.username if current_user%>"
	}
</script>

<%= yield %>

</body>
</html>
